.additional-goods__inner {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-goods__list {
  @include list-reset;
  border-top: 1px solid $radio-button-grey;
  border-bottom: 1px solid $radio-button-grey;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    border: 1px solid $radio-button-grey;
  }
}

.additional-goods__item {
  padding-top: 13px;
  padding-bottom: 19px;

  &:not(:last-child) {
    border-bottom: 1px solid $radio-button-grey;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px;
  }
}

.additional-goods__offer {
  background-color: $green;
}

.additional-goods__description {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;
}
