.additional-card {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.additional-card__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: $special-font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-card__options {
  margin-bottom: 15px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    line-height: 20px;
  }
}

.additional-card__value {
  text-align: right;
}

.additional-card__make-order {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 36%;
  }
}
