.additional-card {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 32% 32% 27%;
  }
}

.additional-card__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: $special-font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-card__options {
  width: 100%;
  margin-bottom: 15px;
  line-height: 14px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-bottom: 0;
    line-height: 20px;
  }
}

.additional-card__options-td {
  padding: 0;
}

.additional-card__key {
  @media (min-width: $tablet-width) {
    padding-right: 50px;
  }
}

.additional-card__value {
  text-align: right;
}

.additional-card__make-order {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
