.button {
  padding: 7px;
  background-color: $green;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border: none;

  &:hover,
  &:active {
    background-color: $green-active;
  }
}
