.button {
  padding: 7px;
  font-family: $special-font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  border: none;
  text-decoration: none;

  &:hover,
  &:active {
    background-color: $green-active;
  }

  &--alt-color {
    color: $basic-dark;
    background-color: $grey;

    &:hover,
    &:active {
      background-color: $special-border-grey;
    }

    &:active {
      color: rgba($basic-dark, 0.3%);
    }
  }
}
