.card {
  @media (min-width: $tablet-width) {
    padding: 6px 36px 39px;
    background: linear-gradient($white 80px, $grey 80px);
  }

  @media (min-width: $desktop-width) {
    padding: 0px 39px 39px;
    background: linear-gradient($white 80px, $grey 80px);
  }
}

.card__info {
  margin-bottom: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: unset;
    margin-bottom: 33px;
  }
}

.card__image {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-height: 207px;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    min-height: 201px;
    height: 201px;
    margin-bottom: 42px;
  }
}

.card__image img {
  display: block;
}

.card__title {
  margin-top: 0;
  margin-bottom: 13px;
  padding-right: 40px;
  font-family: $special-font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 155px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    padding-right: 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.card__title a {
  color: $special-dark-grey;
  text-decoration: none;
}

.card__features {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.card__features tr {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $radio-button-grey;
  }
}

.card__features td {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

.card__value {
  text-align: right;
}

.card__make-order {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}
