.catalog__wrapper {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 33px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
  }
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
  }
}

.catalog__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.catalog__item {
  @media (max-width: $mobile-max-width) {
    position: relative;
    padding-top: 22px;
    padding-bottom: 24px;

    &::after,
    &:first-of-type::before {
      content: "";
      position: absolute;
      left: calc(50% - 50vw);
      width: 150vw;
      height: 1px;
      background-color: $special-border-grey;
    }

    &::after {
      bottom: 0;
    }

    &:first-of-type::before {
      top: 0;
    }
  }
}
