.catalog__list {
  @include list-reset;
  border-top: 1px solid $special-border-grey;
  border-bottom: 1px solid $special-border-grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog__item {
  padding-top: 20px;
  padding-bottom: 25px;

  &:not(:last-child) {
    border-bottom: 1px solid $special-border-grey;
  }
}
