.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__invite {
  font-family: $special-font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark;
}

.contacts__address {
  line-height: 20px;
}
