.form__columns-wrapper {
  @media (min-width: $tablet-width) {
    &--max-four {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      column-gap: 61px;

      .form__item--checkbox:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--max-two {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 80px;
    }

    &--max-four {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 81px;

      .form__item--checkbox {
        margin-bottom: 0;
      }

      .form__item--checkbox:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

.form__columns-wrapper--max-two > .form__item--text:not(:last-child) {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__fieldset {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  border: none;

  &--extra {
    margin-bottom: 33px;
  }

  @media (max-width: $mobile-max-width) {
    &--bottom-line {
      position: relative;
      padding-bottom: 25px;
    }

    &--bottom-line::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: calc(50% - 50vw);
      width: 100vw;
      height: 1px;
      background-color: $border-grey;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;

    &--bottom-line {
      margin-bottom: 73px;
    }

    &--border {
      padding: 25px 28px;
      border: 1px solid $light-border-grey;
    }

    &--extra {
      margin-bottom: 54px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;

    &--bottom-line {
      margin-bottom: 67px;
    }

    &--extra {
      margin-bottom: 60px;
    }
  }
}

.form__fieldset__legend {
  padding-left: 0;
  padding-right: 0;
}

.form__list {
  @include list-reset;
}

.form__item {
  &--text:not(:last-child) {
    margin-bottom: 16px;
  }

  &--radio:not(:last-child),
  &--checkbox:not(:last-child) {
    margin-bottom: 13px;
  }

  @media (min-width: $tablet-width) {
    &--text:not(:last-child) {
      margin-bottom: 22px;
    }

    &--checkbox:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.form__label {
  position: relative;
  font-family: $special-font-family;
  font-size: 16px;
  text-transform: uppercase;
  color: $basic-dark;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-wrapper {
  position: relative;
  flex-grow: 1;
}

.form__submit {
  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 16px 26px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
  }
}

.form__additional-note {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: left;
  }
}
