.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 66px;
  height: 66px;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: $black;
  box-shadow: 0px 8px $black,
              0 -8px $black;
  transform: translate(-50%, -50%);
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    box-shadow: none;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media (max-width: $mobile-max-width) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  @include list-reset;
}
