.offer__wrapper {
  margin-bottom: 22px;
}

.offer__title {
  font-family: $special-font-family;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    text-align: left;
    color: $black;
  }
}

.offer__slogan {
  font-family: $special-font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    text-align: left;
    color: $black;
  }
}
