.page-footer {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.page-footer__wrapper {
  background-color: $grey;

  &--no-bg-color {
    background-color: $white;
  }
}

.page-footer__map-wrapper {
  height: 362px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/map-mobile.png");
  background-size: auto 362px;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../img/map-tablet.png");
    background-size: auto 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.png");
    }
  }
}

.page-footer__map {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.page-footer__links-wrapper {
  padding-top: 37px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-top: 42px;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 46px;
    padding-bottom: 46px;
  }
}

.page-footer__social {
  @media (max-width: $mobile-max-width) {
    padding-top: 11px;
    padding-bottom: 5px;
    border-bottom: 1px solid $border-grey;
  }
}

.page-footer__copyright {
  @media (max-width: $mobile-max-width) {
    padding-top: 22px;
  }
}
