// Colors
$black: #000000;
$white: #ffffff;
$basic-dark: #444444;
$special-dark: #111111;
$special-dark-grey: #222222;

$green: #68B738;
$green-active: #5EAA2F;

$grey: #F2F2F2;
$special-grey: #EAEAEA;
$border-grey: #D9D9D9;
$radio-button-grey: #CDCDCD;
$line-grey: #E6E6E6;
$light-border-grey: #E7E7E7;
$special-border-grey: #EBEBEB;


// Font Family
$basic-font-family: "Arial", "Helvetica", sans-serif;
$special-font-family: "Oswald", sans-serif;


// Viewports
$mobile-max-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
