// Colors
$black: #000000;
$white: #ffffff;
$basic-dark: #444444;
$special-dark: #111111;
$special-dark-grey: #222222;

$green: #68b738;
$green-active: #5eaa2f;

$grey: #f2f2f2;
$special-grey: #eaeaea;
$border-grey: #d9d9d9;
$radio-button-grey: #cdcdcd;
$line-grey: #e6e6e6;
$light-border-grey: #e7e7e7;
$special-border-grey: #ebebeb;
$grey-900: #bababa;
$grey-1000: #666666;
$grey-1010: #d3d3d3;
$dark-grey: #424146;

$error-color: #ff8282;

// Font Family
$basic-font-family: "Arial", "Helvetica", sans-serif;
$special-font-family: "Oswald", sans-serif;

// Viewports
$mobile-max-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
